@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  font-family: "Montserrat", sans-serif;
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  color: rgb(29, 29, 29);
  background: #e9ebee;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: sans-serif; */
}

/* NAV BG */
.navBg {
  background: #314555;
}

.footerBottomBg {
  background: #212526;
}

/* Hero left */
.specialHover:hover span {
  padding: 0 0.5rem;
  color: white;
  border-radius: 5px;
  background: rgb(74 222 128 / var(--tw-text-opacity));
}

/* SECTION TOP BAR */
.LinkBorder {
  border: 2px solid rgb(74 222 128 / var(--tw-text-opacity));
  padding: 0.3rem;
}

.LinkBorder:hover {
  color: white;
}

/* PAGINATION */
.paginationBtn {
  display: inline-block;
  margin: 0 2px;
  padding: 0 13px;
  line-height: 32px;
  height: 36px;
  border: 2px solid transparent;
  border-radius: 4px;
  -webkit-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  border-color: #d3d9dd;
  color: #576366;

  display: flex;
  align-items: center;
  justify-content: center;
}

.paginationBtn:hover {
  color: white;
  border: 2px solid rgb(74 222 128);
}

/* PRODUCT PAGE */
.ppLineHeight {
  line-height: 30px;
}

/* SHOP PAGE */
.shopSelectOptions {
  border: 2px solid rgb(74 222 128 / var(--tw-border-opacity));
  padding: 0.3rem 0.5rem;
  background-color: white;
}

.shopSelectOptions:hover {
  /* color: white; */
}
