@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Hero left */
.specialHover:hover span {
  padding: 0 0.5rem;
  color: white;
  border-radius: 5px;
  background: rgb(74 222 128 / var(--tw-text-opacity));
}

/* SECTION TOP BAR */
.LinkBorder {
  border: 2px solid rgb(74 222 128 / var(--tw-text-opacity));
  padding: 0.3rem 0.5rem;
}

.LinkBorder:hover {
  color: white;
}
