@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  color: rgb(29, 29, 29);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: sans-serif;
}

/* Hero left */
.specialHover:hover span {
  padding: 0 0.5rem;
  color: white;
  border-radius: 5px;
  background: rgb(74 222 128 / var(--tw-text-opacity));
}

/* SECTION TOP BAR */
.LinkBorder {
  border: 2px solid rgb(74 222 128 / var(--tw-text-opacity));
  padding: 0.3rem 0.5rem;
}

.LinkBorder:hover {
  color: white;
}

/* PAGINATION */
.paginationBtn {
  display: inline-block;
  margin: 0 2px;
  padding: 0 13px;
  line-height: 32px;
  height: 36px;
  border: 2px solid transparent;
  border-radius: 4px;
  -webkit-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  border-color: #d3d9dd;
  color: #576366;
}

.paginationBtn:hover {
  color: white;
  border: 2px solid rgb(74 222 128);
}

/* PRODUCT PAGE */
.ppLineHeight {
  line-height: 30px;
}
